<h2>Dashboard</h2>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div *ngIf="message" >
                <!-- {{message.text.id}} -->
                <div *ngFor="let m of message.text">
                    <div class="alert alert-success">
                        {{m.id}}<br>
                        {{m.title}}<br>
                        {{m.overview}}
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>